.main {
    display: flex;
    flex-direction: column;
}

.navigation-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.welcome-message {
    width: fit-content;
    margin: 15px;
}

.logout-link {
    width: fit-content;
    margin: 5px;
    padding: 10px;
    align-self: center;
    border-radius: 5px;
}

.logout-link:hover {
    animation-name: submit-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    background-color: #ff205a;
    color: white;
}

.mini-statement {
    margin: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3bb1a1;
}

@keyframes submit-hover {
    100% {
        transform: scale(1.1);
    }
}