.account-details {
    margin: 15px;
}

/* Table formatting */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3bb1a1;
}
  
.transfer-link:hover {
    animation-name: submit-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    background-color:#f5f5f5;
}

@keyframes submit-hover {
    100% {
        transform: scale(1.1);
    }
}
    