.login {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5em;
    background-color: #f2f3f4;
    width: min-content;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#login-form {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-items {
    margin: 10px;
}

::placeholder{
    font-family: 'Questrial', sans-serif;
}
