body {
	background: linear-gradient(90deg, #ccffff, #ffcccc);
	font-family: 'Questrial', sans-serif;
	font-weight: 400;
}

/* Header panel formatting */

h1 {
	font-size: 28px;
	font-weight: 800;
}

.header {
	padding: 0.25px;
	margin: 0 0 0.5em 0;
	background-color: #f2f3f4;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

.main {
    display: flex;
    flex-direction: column;
}

.navigation-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.welcome-message {
    width: fit-content;
    margin: 15px;
}

.logout-link {
    margin: 5px;
    align-self: center;
}

/* submit button formatting and animation */

input[type=submit] {
	padding: 0.5em;
	color: white;
	background-color: #ff205a;
	border-radius: 5px;
	font-family: 'Questrial', sans-serif;
}

input[type=submit]:hover {
    animation-name: submit-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes submit-hover {
    100% {
        transform: scale(1.1);
    }
}
